
<div class="container">
    <div class="row">


      <div class="text-center user_edit">
          <h1 class="h3 font-weight-normal">個人情報編集</h1>
      </div>

  <%= form_for(@user, html: {class: 'form-mypage-edit'}) do |f| %>
        <% if @user.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
      </ul>
  </div>


  <% end %>

  <div class="form-label-group">
      <%= f.label :user_name_kanji, "名前(漢字)" %>
      <%= f.text_field :user_name_kanji, class: "form-control", placeholder: "名前(漢字)" %>
      <br />
  </div>
  <div class="form-label-group">
    <%= f.label :user_name_kana, "名前(カタカナ)" %>
    <%= f.text_field :user_name_kana, class: "form-control", placeholder: "名前(カタカナ)" %>
</div>

<div class="form-label-group">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, class: "form-control", placeholder: "住所" %>
</div>


<div class="form-label-group">
    <%= f.label :postal_code, "郵便番号" %>
    <%= f.text_field :postal_code, class: "form-control", placeholder: "郵便番号" %>
</div>
<div class="form-label-group">
    <%= f.label :phone_number, "電話番号" %>
    <%= f.text_field :phone_number, class: "form-control", placeholder: "電話番号" %>
</div>

<div class="form-label-group">
    <%= f.label :email, "メールアドレス" %>
    <%= f.text_field :email, class: "form-control", placeholder: "メールアドレス" %>
</div>



<%= f.submit "変更", class: 'btn btn-primary glyphicon glyphicon-book' %>

<% end %>

<p class="text-muted text-center">&copy; 2017-2018</p>
</div>
</div>
