              <%= render 'users/side_bar' %>

              <div class="col-lg-9 col-md-9">

                <div class="container-right">
                  <h1 class="container-right__title text-center">個人情報</h1>

                  <div class="container-right__user-info__history">
                    <h2 class="container-right__user-info__history__title text-center">購入履歴</h2>
                    <h3 class="container-right__user-info__history__date"><%= @history.created_at.strftime('%Y/%m/%d') %></h3>
                    <table class="table">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @history.purchases.each do |purchase| %>
                        <tr>
                          <th>名前</th>
                          <td><%= link_to purchase.item.item_name, item_path(purchase.item) %></td>
                        </tr>
                        <tr>
                          <th>アーティスト名</th>
                          <td><%= purchase.item.artist_name %></td>
                        </tr>
                        <tr>
                          <th>値段</th>
                          <td><%= number_to_currency(purchase.item.price) %></td>
                        </tr>
                        <tr>
                          <th>個数</th>
                          <td> <%= purchase.item_count %>個</td>
                        </tr>
                        <tr>
                          <th>制作会社</th>
                          <td><%= purchase.item.label %></td>
                        </tr>
                        <tr>
                          <th>リリース日</th>
                          <td><%= purchase.item.release_date_id %></td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>

                  </div>

                </div>
              </div>