<div class="container">
        <div class="row">
            <section class="admin">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Menu
                        </div>

                        <ul class="nav nav-pills nav-stacked">
                            <li><a href=""><i class="glyphicon glyphicon-pencil"></i> 購入履歴一覧</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-download"></i> ユーザー一覧</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-leaf"></i> 在庫一覧</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-folder-open"></i> 新規在庫追加</a></li>
                        </ul>
                    </div>
                </div>
                <!-- main -->
                <div class="col-md-9">

                    <div class="page-header">
                        <h1><small>ユーザー詳細</small>
                            <a href="" class="btn btn-primary btn-xs">編集</a>
                            <a href="" class="btn btn-primary btn-xs">削除</a>
                        </h1>
                    </div>
                    
                    <table class="table table-hover">
                    　<tr><th>お名前(漢字)</th><td><%= @user.user_name_kanji %></td></tr>
                      <tr><th>お名前(カナ)</th><td><%= @user.user_name_kana %></td></tr>
                      <tr><th>メールアドレス</th><td>@user.email</td> <tr><th>郵便番号</th><td><%= @user.postal_code %></td></tr>
                      <tr><th>住所</th><td><%= @user.address %></td></tr>
                      <tr><th>電話番号</th><td><%= @user.phone_number %></td></tr></tr>
                  </table>

                  <div class="admin">
                  <h1><small>購入履歴</small></h1>

                  <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>date</th>
                            <th>status</th>
                            <th>opration</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>01</td><td>2018-02-28</td><td>未出荷</td>
                        <td>
                            <a href="" class="btn btn-primary btn-xs">詳細</a>
                            <a href="" class="btn btn-primary btn-xs">編集</a>
                            <a href="" class="btn btn-primary btn-xs">削除</a>
                        </td>
                    </tr>
                     <tr>
                        <td>02</td><td>2018-02-28</td><td>未入金</td>
                        <td>
                            <a href="" class="btn btn-primary btn-xs">詳細</a>
                            <a href="" class="btn btn-primary btn-xs">編集</a>
                            <a href="" class="btn btn-primary btn-xs">削除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>03</td><td>2018-02-28</td><td>未入金</td>
                        <td>
                            <a href="" class="btn btn-primary btn-xs">詳細</a>
                            <a href="" class="btn btn-primary btn-xs">編集</a>
                            <a href="" class="btn btn-primary btn-xs">削除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>04</td><td>2018-02-28</td><td>未入金</td>
                        <td>
                            <a href="" class="btn btn-primary btn-xs">詳細</a>
                            <a href="" class="btn btn-primary btn-xs">編集</a>
                            <a href="" class="btn btn-primary btn-xs">削除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>05</td><td>2018-02-28</td><td>未入金</td>
                        <td>
                            <a href="" class="btn btn-primary btn-xs">詳細</a>
                            <a href="" class="btn btn-primary btn-xs">編集</a>
                            <a href="" class="btn btn-primary btn-xs">削除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


            </div>



        <p class="text-muted text-center">&copy; 2017-2018</p>

    </section>
</div>
