<div class="container">
    <div class="row">
        <%= render 'users/side_bar' %>


        <div class="text-center col-lg-9 col-mg-9">
            <div class="container-right clearfix">

                <h1 class="container-right_cart_title">カート</h1>
<% if @item_carts.presence %>
                <% @item_carts.each do |item_cart| %>
                <div class="container-right__contents text-center col-lg-3 col-md-3">
                    <%= attachment_image_tag item_cart.item, :jacket_image, :fill, 150, 150 %>
                    <p><%= item_cart.item.item_name %></p>
                    <h3 class="container-right__contents__title"><%= item_cart.item.item_name %></h3>
                    <p>値段:<%= item_cart.item.price %>円</p>
                    <p>残り:<%= item_cart.item.stock %></p>
                    <p>アーティスト名:<%= item_cart.item.artist_name %></p>
                    <p><%= item_cart.item.label %></p>
                    <p><%= item_cart.item_count %></p>
                    <%= link_to 'カートから1つ削除', delete_item_path(id: item_cart.id), method: :post %>
                </div>
                <% end %>
            </div>
            <div class="purchase">
            <%= link_to '購入情報の登録',  new_user_history_path(current_user),class: 'btn my-2 my-sm-0 btn__color'%>
            <br>
            <%= link_to '買い物を続ける', items_path, class: 'btn my-2 my-sm-0 btn__color' %>
            </div>
            <% else %>
<p class="no_cart">現在カートには何も入っていません。</p>
<%= link_to 'ホームへ戻る', root_path, class: "btn my-2 my-sm-0 btn__color" %>
            <% end %>
        </div>
    </div>
</div>
