<div class="text-center">
  <h1 class="h3 font-weight-normal">管理者ログイン</h1>
</div>

  <div class="container">
          <div class="row">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="form-label-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %>
                  </div>
                  <div class="form-label-group">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "off",class: "form-control" %>
                  </div>
                  <% if devise_mapping.rememberable? -%>
                   <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                   </div>
                  <% end -%>
                    <%= f.submit "ログインする",  class: 'btn btn-lg btn-primary btn-block' %>
                  <p class="text-muted text-center">&copy; 2017-2018</p>
              <% end %>
          </div>
  </div>




