<div class="container">
        <div class="row">
            <section class="admin">
                
                <%= render 'admins/list' %>

<!-- main -->
        <div class="col-md-9">
            <div class="page-header">
                        <h1><small>購入履歴詳細編集</small></h1>
                    </div>

                    <h1><small>購入情報</small></h1>

            <%= form_for ([:admins, @history]) do |f| %>
                ステータス<%= f.collection_select :status_id, Status.all, :id, :status_name, :class => 'form-control' %>
                受け取り主<%= f.text_field :send_name_kanji, :class => 'form-control' %>
                受け取り主(カナ) <%= f.text_field :send_name_kana, :class => 'form-control' %>
                郵便番号 <%= f.text_field :send_postal_code, :class => 'form-control' %>
                配送先住所 <%= f.text_field :send_address, :class => 'form-control' %>
                支払い方法 <%= f.collection_select :payment_id, Payment.all, :id, :payway, :class => 'form-control' %>
                配送方法 <%= f.collection_select :delivery_id, Delivery.all, :id, :sipping, :class => 'form-control' %>
                <%= f.submit "変更", :class => 'btn btn-primary' %>
            <% end -%>

            <div class="history-item">
                    <h1><small>購入商品情報</small></h1>
                    <div class="col-md-2">
                        <a href="">
                            <img class ="item-image" src="fickle_friends.jpg">
                        </a>
                    </div>
                    <div class="col-md-7 pull-right">
                        <table class="table table-bordered">
                            <tr><th>No</th><td>1</td></tr>
                            <tr><th>商品名</th><td><a href="">Brooklyn</a></td></tr>
                            <tr><th>アーティスト</th><td>Fickle Friends</td></tr>
                            <tr><th>形式</th><td>CD</td></tr>
                            <tr><th>ジャンル</th><td>ロック</td></tr>
                            <tr><th>レーベル</th><td>aaaaa</td></tr>
                            <tr><th>価格</th><td>¥1,000</td></tr>
                            <tr><th>数量</th><td>5
                                <span class="pull-right">　
                                    <input type="number" name="example" min="0" max="500" value="0">
                                    <button type="submit" class="btn btn-primary">変更</button>
                                    <button type="submit" class="btn btn-primary">削除</button>
                                </span>
                            </td></tr>
                        </table>
                    </div>
                </div>

                <div class="history-item">
                    <div class="col-md-2">
                        <a href="">
                            <img class ="item-image" src="seeb.jpeg">
                        </a>
                    </div>
                    <div class="col-md-7 pull-right">
                        <table class="table table-bordered">
                            <tr><th>No</th><td>2</td></tr>
                            <tr><th>商品名</th><td><a href="">Simple Life</a></td></tr>
                            <tr><th>アーティスト</th><td>Seeb</td></tr>
                            <tr><th>形式</th><td>CD</td></tr>
                            <tr><th>ジャンル</th><td>ロック</td></tr>
                            <tr><th>レーベル</th><td>aaaaa</td></tr>
                            <tr><th>価格</th><td>¥1,000</td></tr>
                            <tr><th>数量</th><td>5
                                <span class="pull-right">　
                                    <input type="number" name="example" min="0" max="500" value="0">
                                    <button type="submit" class="btn btn-primary">変更</button>
                                    <button type="submit" class="btn btn-primary">削除</button>
                                </span>
                            </td></tr>
                        </table>
                    </div>
                </div>


        </div>

        <p class="text-muted text-center">&copy; 2017-2018</p>
    </section>
    </div>


</div>
