<div class="container">
        <div class="row">
            <section class="admin">
                
                <%= render 'admins/list' %>
                <!-- main -->
                <div class="page-header">
                    <h1><small>購入履歴詳細</small>
                        <%= link_to "編集", edit_admins_history_path(@history.id), :class => "btn btn-primary btn-xs" %>
                        <%= link_to "削除", admins_history_path(@history), method: :delete, :class => "btn btn-primary btn-xs" %>
                    </h1>
                </div>
                <div class="col-md-9">
                    <h1><small>購入情報</small></h1>
                    <table class="table table-hover">
                    　  <tr>
                            <th>ステータス</th>
                            <td><%= @history.status.status_name %></td>
                        </tr>
                        <tr>
                            <th>購入者名</th>
                            <td><%= link_to @history.user.user_name_kana %></td>
                        </tr>
                        <tr>
                            <th>購入日</th>
                            <td><%= @history.created_at %></td>
                        </tr>
                        <tr>
                            <th>受取主</th>
                            <td><%= @history.send_name_kana %></td>
                        </tr>
                        <tr>
                            <th>郵便番号</th>
                            <td><%= @history.send_postal_code %></td>
                        </tr>
                        <tr>
                            <th>配送先住所</th>
                            <td><%= @history.send_address %></td>
                        </tr>
                        <tr>
                            <th>支払い方法</th>
                            <td><%= @history.payment.payway %></td>
                        </tr>
                        <tr>
                            <th>配送方法</th>
                            <td><%= @history.delivery.sipping %></td>
                        </tr>
                        <tr>
                            <th>合計金額</th>
                            <td><%= number_to_currency(@history.total_price) %></td>
                        </tr>
                    </table>
                    <h1><small>購入商品情報</small></h1>
                    <% @history.purchases.each do |f| %>
                    <div class="history-item">
                        <div class="col-md-2">
                            <%= attachment_image_tag f.item, :jacket_image, :fill,270,270  %>
                        </div>
                        <div class="col-md-7 pull-right">
                            <table class="table table-bordered">
                                <tr>
                                    <th>商品名</th>
                                    <td><%= f.item.item_name  %></td>
                                </tr>
                                <tr>
                                    <th>アーティスト</th>
                                    <td><%= f.item.artist_name %></td>
                                </tr>
                                <tr>
                                    <th>形式</th>
                                    <td><%= f.item.type.category_name %></td>
                                </tr>
                                <tr>
                                    <th>ジャンル</th>
                                    <td><% f.item.item_genres.each do |genre| %>
                                        <%= genre.genre.genre_name %>
                                        <% end -%>
                                    </td>
                                </tr>
                                <tr>
                                    <th>レーベル</th>
                                    <td><%= f.item.label %></td>
                                </tr>
                                <tr>
                                    <th>価格</th>
                                    <td><%= number_to_currency(f.item.price) %></td>
                                </tr>
                                <tr>
                                    <th>数量</th>
                                    <td><%= f.item_count %></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <% end -%>
                </div>
    </section>
</div>
</div>
<p class="text-muted text-center">&copy; 2017-2018</p>


