<div class="mainVisual">
    <!-- <img src="img/sukusho.png" alt="" class="mainVisual__img"> -->
</div>

<%= form_for(@item) do |f| %>
<%= f.attachment_field :jacket_image %>
名前<%= f.text_field :item_name %>
数<%= f.text_field :stock %>
アーティスト名<%= f.text_field :artist_name %>
値段<%= f.text_field :price %>
ラベル<%= f.text_field :label %>
アイテムステータス<%= f.text_field :item_status_id %>
リリース日<%= f.text_field :release_date_id %>
<%= f.submit %>
<% end %>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="container-left">
                <h3 class="container-left__title">Category</h3>
                <ul>
                    <li>w</li>
                    <li>w</li>
                    <li>w</li>
                </ul>
                <h3 class="container-left__title">Genre</h3>
                <ul>
                    <li>w</li>
                    <li>w</li>
                    <li>w</li>
                </ul>
                <h3 class="container-left__title">Type</h3>
                <ul>
                    <li>w</li>
                    <li>w</li>
                    <li>w</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 col-md-9">
            <div class="container-right">
                <h1 class="container-right__title text-center">商品一覧</h1>
                <% if @search %>
                  <% @results.each do |result| %>
                  <div class="container-right__contents text-center col-lg-3 col-md-3">
                      <%= attachment_image_tag result, :jacket_image, :fill, 150, 150 %>
                      <h3 class="container-right__contents__title"><%= result.item_name %></h3>
                      <p>値段:<%= result.price %>円</p>
                      <p>残り:<%= result.stock %></p>
                      <p>アーティスト名:<%= result.artist_name %></p>
                      <p><%= result.label %></p>
                      <%= link_to "カートに追加", add_item_path, method: :post %>
                  </div>
                  <% end %>
                <% else %>
                  <% @items.each do |item| %>
                  <div class="container-right__contents text-center col-lg-3 col-md-3">
                      <%= attachment_image_tag item, :jacket_image, :fill, 150, 150 %>
                      <h3 class="container-right__contents__title"><%= item.item_name %></h3>
                      <p>値段:<%= item.price %>円</p>
                      <p>残り:<%= item.stock %></p>
                      <p>アーティスト名:<%= item.artist_name %></p>
                      <p><%= item.label %></p>
                      <%= link_to "カートに追加", add_item_path, method: :post %>
                  </div>
                <% end %>

              <% end %>
            </div>
        </div>
    </div>
</div>
