<div class="mainVisual">
    <img src="img/sukusho.png" alt="" class="mainVisual__img">
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="container-left">
                <h3 class="container-left__title">Category</h3>
                <ul>
                    <li>w</li>
                    <li>w</li>
                    <li>w</li>
                </ul>
                <h3 class="container-left__title">Genre</h3>
                <ul>
                    <li>w</li>
                    <li>w</li>
                    <li>w</li>
                </ul>
                <h3 class="container-left__title">Type</h3>
                <ul>
                    <li>w</li>
                    <li>w</li>
                    <li>w</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 col-md-9">
            <div class="container-right">
                <% @items.each do |item| %>
                <h1 class="container-right__title text-center">商品一覧</h1>
                <div class="container-right__contents text-center col-lg-3 col-md-3">
                    <img src="img/ruby.png" alt="" class="container-right__contents__img">
                    <h3 class="container-right__contents__title"><%= item.item_name %></h3>
                    <p>値段:<%= item.price %>円</p>
                    <p>残り:<%= item.stock %></p>
                    <p>アーティスト名:<%= item.artist_name %></p>
                    <p><%= item.label %></p>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
