<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="container-left">
                <h3 class="container-left__title">カテゴリー</h3>
                <ul>
                    <li>w</li>
                    <li>w</li>
                    <li>w</li>
                </ul>
                <h3 class="container-left__title">ジャンル</h3>
                <ul>
                    <li>w</li>
                    <li>w</li>
                    <li>w</li>
                </ul>
                <h3 class="container-left__title">タイプ</h3>
                <ul>
                    <li>w</li>
                    <li>w</li>
                    <li>w</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 col-md-9">
            <div class="container-right">
                <div class="container-right__search"></div>
                <h1 class="container-right__title text-center">商品基本情報</h1>
                <div class="container-right_contents text-center col-lg-4 col-mg-4">
                    <%= attachment_image_tag @item, :jacket_image, :fill, 200, 200 %>
                    <h3 class="container-right_contents__title">曲名</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>番号</th>
                                <th>曲名</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1</th>
                                <td>Java</td>
                            </tr>
                            <tr>
                                <th>2</th>
                                <td>PHP</td>
                            </tr>
                            <tr>
                                <th>3</th>
                                <td>PHPs</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="text-center col-lg-8 col-mg-8">
                    <div class="container-right__item-info">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>名前</th>
                                    <td><%= @item.item_name %></td>
                                </tr>
                                <tr>
                                    <th>アーティスト名</th>
                                    <td><%= @item.artist_name %></td>
                                </tr>
                                <tr>
                                    <th>値段</th>
                                    <td><%= @item.price %></td>
                                </tr>
                                <tr>
                                    <th>個数</th>
                                    <td><%= @item.stock %></td>
                                </tr>
                                <tr>
                                    <th>制作会社</th>
                                    <td><%= @item.label %></td>
                                </tr>
                                <tr>
                                    <th>リリース日</th>
                                    <td><%= @item.release_date_id %></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="container-right__item-info__btn">
                            <button class="btn my-2 my-sm-0 btn__color" type="submit">カートへ入れる</button>
                            <button class="btn my-2 my-sm-0 btn__color" type="submit">購入する</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
